<div class="text-center" *ngIf="loading">
    <img src="assets/images/loading.gif" width="80px" height="80px">
  </div>
  <div class="row" *ngIf="!loading">
    <hr>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
          <thead>
            <tr>
              <th>Friendly ID</th>
              <th>Title</th>
              <th>Contact</th>
              <th>Purchase Price</th>
              <th>Selling Price</th>
              <th>Due date</th>
              <th>Assigned Staff Member</th>
            </tr>
          </thead>
          <tbody *ngFor="let job of jobList; let i = index" (click)="onSelectJob(job.id)">
            <tr>
              <td>{{ job?.friendlyId }}</td>
              <td>{{ job?.title }}</td>
              <td>{{ job?.contact?.name }}</td>
              <td>{{ job?.purchasePrice }}</td>
              <td>{{ job?.sellingPrice }}</td>
              <td>{{ job?.milestones.due }}</td>
              <td>{{ job?.user?.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
