<h2 class="text-muted">New supplier</h2>
<div class="row">
    <div class="col-md-12 col-xl-6">
      <form [formGroup]="supplierForm">
        <div class="row">
          <div class="col-md-12 col-xl-6">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-6">
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="number" id="phone" formControlName="phone" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-6">
            <div class="form-group">
              <label for="contact">Contact</label>
              <select multiple class="form-control" formControlName="contact">
                <option *ngFor="let contact of contactList" [ngValue]="contact">{{contact.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xl-6">
              <button type="submit" class="btn btn-success" [disabled]="!supplierForm.valid" (click)="onSubmit()">Save</button>
              <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            </div>
          </div>
      </form>
    </div>
  </div>
