<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<br>
<div class="text-center" *ngIf="client?.onStop">
  <i class="fa fa-exclamation-triangle fa-5x text-danger" aria-hidden="true"></i>
  <h4>This client is currently on stop!</h4>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-md-12" [ngClass]="{'border border-danger rounded' : client.onStop}">
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-muted">{{ client?.name }}
          <small>details: </small>
        </h2>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
            <thead>
              <tr>
                <th>Description</th>
                <th>Contact</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ client.description }}</td>
                <td>{{ client.contact.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <h2 class="text-muted">Jobs for
            <small>{{ client?.name }}</small>
          </h2>
          <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Contact</th>
                <th>Description</th>
                <th>Assigned staff member</th>
                <th>Job State</th>
              </tr>
            </thead>
            <tbody *ngFor="let job of client.jobs; let i = index">
              <tr (click)="onViewJobDetail(job)">
                <td>{{ job?.friendlyId }}</td>
                <td>{{ job?.title }}</td>
                <td>{{ job?.contact?.name }}</td>
                <td>{{ job?.description }}</td>
                <td>{{ job?.user?.name }}</td>
                <td>{{ JobState[job?.jobState] }}</td>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-md-12">
      <button [disabled]="client.onStop" class="btn btn-success" (click)="onNewQuote()">New Quote</button>
      <button *ngIf="!client.onStop" type="button" class="btn btn-primary" (click)="onEdit()">Edit client</button>
      <button *ngIf="client.onStop" type="button" class="btn btn-success" (click)="onStop(false)">Remove from stop</button>
      <button *ngIf="!client.onStop" type="button" class="btn btn-danger" (click)="onStop(true)">Place on stop</button>
      <button type="submit" class="btn btn-info" (click)="onAddressBook()">Toggle Address Book</button>
    </div>
    <br>
    <div class="row" *ngIf="showAddressBook">
      <div class="col-md-12">
        <app-address-book [addressList]="client.addresses" [ownerId]="client.id"></app-address-book>
      </div>
    </div>
    <br>
    <hr>
  </div>
</div>
