<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<div class="row" *ngIf="!loading">
  <div class="col-md-12 col-xl-6">
    <h2 class="text-muted">Details for
      <small>{{ preProd.title }}</small>
    </h2>
    <form [formGroup]="jobForm">
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" id="title" formControlName="title" class="form-control" [readonly]="true">
          </div>
        </div>
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="contact">Contact</label>
            <select class="form-control" formControlName="contact">
              <option [value]="preProd?.contact.name" [ngValue]="preProd?.contact">{{preProd.contact.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="client">Client</label>
            <select class="form-control" formControlName="client">
              <option [value]="preProd?.client.name" [ngValue]="preProd?.client.name" [selected]="preProd?.client?.name">{{preProd.client.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="name">ID</label>
            <input type="text" id="friendlyId" formControlName="friendlyId" class="form-control" [readonly]="true">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="staff">Assigned Staff member:</label>
            <select class="form-control" formControlName="staff">
              <option [value]="preProd?.user.name" [ngValue]="preProd?.user">{{preProd.user.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description" class="form-control" rows="6" [readonly]="true">
            </textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12 col-xl-6">
      <app-timeline [client]="client" [preProd]="preProd"></app-timeline>
    </div>
  <div class="col-md-12">
    <label for="list">Pre Production items: </label>
    <app-pre-item-list [viewMode]="true" [preItemList]="preProd.preItems"></app-pre-item-list>
  </div>
  <br>
  <div class="col-md-12">
    <button type="Edit" class="btn btn-warning" [disabled]="!jobForm.valid" (click)="onEdit()">Edit</button>
    <button type="Edit" class="btn btn-success" [disabled]="!jobForm.valid" (click)="onCopy()">Copy</button>
    <button type="button" class="btn btn-primary" [disabled]="!jobForm.valid" (click)="onUpgrade()">Send RFQs</button>
  </div>
</div>
