<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <a routerLink="/" class="navbar-brand">SeanTIME</a>
      </div>

      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="/clients">Clients</a></li>
              <li routerLinkActive="active"><a routerLink="/orders">Orders</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown"
              appDropdown>
                  <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a style="cursor: pointer;" (click)="onLogin()">Login</a></li>
                      <li><a style="cursor: pointer;"(click)="onLogout()">Logout</a></li>
                  </ul>
              </li>
          </ul>
      </div>
  </div>
</nav>
