<div class="row">
  <div class="col-lg-12">
    <label *ngIf="!viewMode">Items to quote:</label>
    <div class="row">
      <div class="col-lg-4" *ngFor="let preItem of preItemList">
        <div class="card">
          <h5 class="card-title"> Product: {{ preItem.product }}</h5>
          <div class="card-body">
            <div class="card-text">
              <p>
                Quantity: {{ preItem.amount }}
                <br> Description: {{ preItem.description }}
              </p>
              <label>Supplier RFQ's:</label>
              <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
                <thead>
                  <tr>
                    <th>Supplier</th>
                    <th>Contact</th>
                  </tr>
                </thead>
                <tbody *ngFor="let pre of preItem.supplierContactItems">
                  <td>{{ pre.supplier.name }}</td>
                  <td>{{ pre.contact?.name }}</td>
                </tbody>
              </table>
              <td class="float-right">
                <i *ngIf="!viewMode" class="fa fa-trash-o text-danger fa-2x" aria-hidden="true" (click)="onDeleteItem(preItem)"></i>
              </td>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div *ngIf="!viewMode" class="col-lg-4">
        <div *ngIf="!newItem">
          <div class="card">
            <br>
            <br>
            <i class="fa fa-plus text-success fa-5x text-center" aria-hidden="true" (click)="onAddNewItem()"></i>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div *ngIf="!viewMode" class="col-lg-4">
        <div *ngIf="newItem">
          <app-pre-item [supplierList]="supplierList" [inputForm]="inputForm" (preItemEvent)="onNewItem($event)"></app-pre-item>
        </div>
      </div>
    </div>
  </div>
</div>
