<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<div class="row" *ngIf="!loading">
  <div class="col-md-12 col-xl-6">
    <h2 class="text-muted">Details for
      <small>{{ quote.title }}</small>
    </h2>
    <form [formGroup]="jobForm">
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" id="title" formControlName="title" class="form-control" [readonly]="true">
          </div>
        </div>
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="contact">Contact</label>
            <select class="form-control" formControlName="contact">
              <option [value]="quote?.contact.name" [ngValue]="quote?.contact">{{quote.contact.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="name">Purchase price</label>
            <input type="text" id="purchasePrice" formControlName="purchasePrice" class="form-control" [readonly]="true">
          </div>
        </div>
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="name">Markup</label>
            <input type="text" id="markup" formControlName="markup" class="form-control" [readonly]="true">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="name">Selling price</label>
            <input type="text" id="sellingPrice" formControlName="sellingPrice" class="form-control" [readonly]="true">
          </div>
        </div>
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="client">Client</label>
            <select class="form-control" formControlName="client">
              <option [value]="quote?.client.name" [ngValue]="quote?.client.name" [selected]="quote?.client?.name">{{quote.client.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="staff">staff</label>
            <select class="form-control" formControlName="staff">
              <option [value]="quote?.user.name" [ngValue]="quote?.user">{{quote.user.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="name">Id</label>
            <input type="text" id="friendlyId" formControlName="friendlyId" class="form-control" [readonly]="true">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description" class="form-control" rows="6" [readonly]="true">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <label for="list">Quote items: </label>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of quote.items"> {{ item.product }} - {{ item.amount }}</li>
          </ul>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <button type="Edit" class="btn btn-warning" [disabled]="!jobForm.valid" (click)="onEdit()">Edit</button>
          <button type="Edit" class="btn btn-success" [disabled]="!jobForm.valid" (click)="onCopy()">Copy</button>
          <button type="button" class="btn btn-primary" [disabled]="!jobForm.valid" (click)="onUpgrade()">Convert to job</button>
        </div>
      </div>
      <br>
    </form>
  </div>
  <div class="col-md-12 col-xl-6">
    <app-timeline [client]="client" [quote]="quote"></app-timeline>
  </div>
</div>
