<div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="form-group" [formGroup]="inputForm">
      <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
        #search formControlName="addressControl">
    </div>
  </div>
</div>
