<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<div *ngIf="!loading">
  <hr>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class=" text-center table table-bordered table-hover table-sm" style="cursor: pointer;">
        <thead>
          <tr>
            <th>Status</th>
            <th>Name</th>
            <th>Description</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody *ngFor="let client of clients; let i = index" (click)="onSelectClient(client.id)">
          <tr>
            <td *ngIf='client.onStop'><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i></td>
            <td *ngIf='!client.onStop'><i class="text-center fa fa-check text-success" aria-hidden="true"></i></td>
            <td>{{ client.name }}</td>
            <td>{{ client.description }}</td>
            <td>{{ client.contact.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-success" (click)="onNewClient()">New Client</button>
  </div>
</div>
<hr>
