<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<div class="row" *ngIf="!loading">
  <hr>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody *ngFor="let supplier of supplierList; let i = index" (click)="onSelectSupplier(supplier.id)">
          <tr>
            <td>{{ supplier.name }}</td>
            <td>{{ supplier.phoneNumber }}</td>
            <td>{{ supplier.contacts[0].name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div></div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="onNewSupplier()">New Supplier</button>
  </div>
</div>
