<a style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix">
      <div class="pull-left">
          <h3 class="list-group-item-heading">{{ staff.name }}</h3>
          <h5 class="list-group-item-heading">{{ staff.email }}</h5>
      </div>
</a>
