<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<div *ngIf="!loading">
  <h2 class="text-muted">Details for
    <small>{{ contact?.name }}</small>
  </h2>
  <div class="row">
    <div class="col-md-12 col-xl-4">
      <form [formGroup]="contactForm">
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" formControlName="name" class="form-control" [value]="contact?.name" [readonly]="true">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" id="email" formControlName="email" class="form-control" [value]="contact?.email" [readonly]="true">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="form-group">
              <label for="email">Role</label>
              <input type="text" id="email" formControlName="role" class="form-control" [value]="ContactRole[contact?.contactRole]" [readonly]="true">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <div class="form-group">
              <label for="email">Phone number</label>
              <input type="number" id="phone" formControlName="phone" class="form-control" [value]="contact?.phoneNumber" [readonly]="true">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-xl-12">
            <button type="Edit" class="btn btn-info" (click)="onEdit()">Edit</button>
            <button type="Delete" class="btn btn-danger" (click)="onDelete()">Delete</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-12 col-xl-8">
      <h2 class="text-muted">Jobs for
        <small>{{ contact?.name }}</small>
      </h2>
      <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
        <thead>
          <tr>
            <th>Title</th>
            <th>Contact</th>
            <th>Description</th>
            <th>Assigned staff member</th>
          </tr>
        </thead>
        <tbody *ngFor="let job of contact?.jobs; let i = index">
          <!-- <tr (click)="onViewJobDetail(i)" // TODO Fix this!! -->
          <td>{{ job?.title }}</td>
          <td>{{ job?.contact?.name }}</td>
          <td>{{ job?.description }}</td>
          <td>{{ job?.user?.name }}</td>
        </tbody>
      </table>
      <div></div>
    </div>
  </div>
</div>
