<a style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix">
      <div class="pull-left">
          <h3 class="text-muted">{{ client.name }}</h3>
          <h5 class="text-muted">{{ client.description }}</h5>
          <h5 class="text-muted">{{ client.contact }}</h5>
      </div>
</a>
