<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 mx-auto">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>seanTIME</h1>
            <form>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="model.email" class="form-control input-underline input-lg" #email="ngModel" name="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="model.password" #password="ngModel" class="form-control input-underline input-lg"
                        #username="ngModel" name="password" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="login()"> Login </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>c
