<div class="row">
  <div class="col-md-12">
    <div class="card">
      <form *ngIf="inputForm != null" [formGroup]="inputForm">
        <div class="card-body" formGroupName="preItems">
          <div class="col-md-12">
            <label>Item name:</label>
            <input type="text" class="form-control" placeholder="Product" formControlName="product">
          </div>
          <br>
          <div class="col-md-12">
            <label>Quantity:</label>
            <input type="number" class="form-control" formControlName="amount">
          </div>
          <br>
          <div class="col-md-12">
            <label>Describe item:</label>
            <input type="text" class="form-control" placeholder="Describe item" formControlName="itemDescription">
          </div>
          <br>
          <div class="col-md-12">
            <label>Select suppliers to contact for quote:</label>
            <app-supplier-contact-item [inputForm]="inputForm" [supplierList]="supplierList"></app-supplier-contact-item>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-success" [disabled]="!inputForm.controls.preItems.valid || !inputForm.controls.items.valid" (click)="onSubmit()">Add</button>
              <button type="button" class="btn btn-danger"  (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
