<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3" *ngFor="let address of addressList; let i = index">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ address.number }} {{ address.name }}
            </h5>
            <p class="card-text">{{ address.town }}
              <br> {{ address.province }}
              <br> {{ address.country }}
              <br> {{ address.postcode }}</p>
            <p class="card-text"></p>
            <td class="float-right">
              <i class="fa fa-trash-o text-danger fa-2x" aria-hidden="true" (click)="onDeleteAddress(address)"></i>
            </td>
          </div>
        </div>
      </div>
      <div *ngIf="newAddress" class="col-md-3">
        <div class="card col-md-11">
          <div>
            <br>
            <br>
            <label>New address:</label>
            <p class="float-right">
              <i class="fa fa-ban text-danger fa-2x" aria-hidden="true" (click)="onAddNewAddress()"></i>
            </p>
            <br>
            <br>
          </div>
          <app-input-address [inputForm]="inputForm" (addressEvent)="onAddressComplete($event)"></app-input-address>
        </div>
      </div>
      <div *ngIf="!newAddress" class="col-md-3">
        <div class="card">
          <br>
          <br>
          <br>
          <i class="fa fa-plus text-success fa-5x text-center" aria-hidden="true" (click)="onAddNewAddress()"></i>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
