<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<div class="row" *ngIf="!loading">
  <hr>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody *ngFor="let staff of staffList; let i = index" (click)="onSelectStaff(staff.id)">
          <tr>
            <td>{{ staff.name }}</td>
            <td>{{ staff.email }}</td>
            <td>{{ StaffRole[staff.role] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12">
    <button class="btn btn-success" (click)="onNewStaffMember()">New member of staff</button>
  </div>
</div>
