<div class="text-center" *ngIf="loading">
    <img src="assets/images/loading.gif" width="80px" height="80px">
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-md-12 col-xl-6">
      <div *ngIf="copyMode">
        <h2 class="text-muted">Details for
          <small>{{ job.title }}</small>
        </h2>
      </div>
      <div *ngIf="!copyMode">
        <h2 class="text-muted">New job for
          <small>{{ client.name }}</small>
        </h2>
      </div>
      <form [formGroup]="jobForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Title</label>
              <input type="text" id="title" formControlName="title" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="contact">Contact</label>
              <select class="form-control" formControlName="contact">
                <option *ngFor="let contact of contactList" [ngValue]="contact">{{contact?.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" id="description" formControlName="description" class="form-control" rows="6">
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="deliveryAddress">Delivery Address</label>
              <app-input-address (addressEvent)="onAddressComplete($event)"></app-input-address>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" formArrayName="items">
            <label for="items">Job items:</label>
            <div class="row" *ngFor="let itemCtrl of getControls(); let i = index" [formGroupName]="i">
              <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Product" formControlName="product">
              </div>
              <div class="col-md-4">
                <select class="form-control" formControlName="supplier" formControlName="supplier">
                  <option *ngFor="let supplier of supplierList" [ngValue]="supplier" >{{supplier?.name}}</option>
                </select>
              </div>
              <div class="col-md-2">
                <input type="number" class="form-control" placeholder="Quantity" formControlName="amount">
              </div>
              <div class="col-md-2">
                <i class="fa fa-minus-circle fa-3x" style="color:rgb(255, 0, 0);" aria-hidden="true" (click)="onDeleteItem(i)"></i>
              </div>
              <br>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <i class="fa fa-plus-square fa-3x" style="color:rgb(44, 139, 44);" aria-hidden="true" (click)="onAddItem()"></i>
              </div>
            </div>
            <br>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Due date:</p>
            <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" [ngModelOptions]="{standalone: true}"></ngb-datepicker>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Purchase price</label>
              <input type="number" formControlName="purchasePrice" id="purchasePrice" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Markup: </label>
              <button type="button" class="btn btn-info" (click)="onMarkup(10)">10%</button>
              <button type="button" class="btn btn-info" (click)="onMarkup(20)">20%</button>
              <button type="button" class="btn btn-info" (click)="onMarkup(30)">30%</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Custom: </label>
              <input type="number" formControlName="customMarkup" id="customMarkup" class="form-control">
            </div>
            <button type="button" class="btn btn-info" (click)="onCustomMarkup()">Submit</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Selling price </label>
              <input type="number" formControlName="sellingPrice" id="sellingPrice" class="form-control" [readonly]="true">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="staff">Assigned staff member</label>
              <select class="form-control" formControlName="staff">
                <option *ngFor="let staff of staffList" [ngValue]="staff">{{staff.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-success" [disabled]="!jobForm.valid" (click)="onSubmit()">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
      <br>
    </div>
  </div>
