<div *ngIf="editMode;else new">
  <h2 class="text-muted">Edit contact</h2>
</div>
<ng-template #new>
  <h2 class="text-muted">New contact</h2>
</ng-template>
<div class="row">
  <div class="col-md-12 col-xl-4">
    <div class="text-center" *ngIf="loading">
      <img src="assets/images/loading.gif" width="80px" height="80px">
    </div>
    <form *ngIf="!loading" [formGroup]="contactForm">
      <div class="row">
        <div class="col-md-12 col-xl-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-12">
          <div class="form-group">
            <label for="email">Contact role</label>
            <select class="form-control" formControlName="contactRole">
              <option value="0">Lead</option>
              <option value="1">Client</option>
              <option value="2">Job</option>
              <option value="3">Supplier</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-12">
          <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="text" id="phone" formControlName="phone" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-12">
          <button type="submit" class="btn btn-success" [disabled]="!contactForm.valid" (click)="onSubmit()">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12 col-xl-8">
    <h2 class="text-muted">Jobs for
      <small>{{ contact?.name }}</small>
    </h2>
    <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
      <thead>
        <tr>
          <td>#</td>
          <th>Title</th>
          <th>Contact</th>
          <th>Description</th>
          <th>Assigned staff member</th>
        </tr>
      </thead>
      <tbody *ngFor="let job of contact?.jobs; let i = index">
        <!-- <tr (click)="onViewJobDetail(i)" // TODO Fix this!! -->
        <td> {{ i }} </td>
        <td>{{ job.title }}</td>
        <td>{{ job.contact.name }}</td>
        <td>{{ job.description }}</td>
        <td>{{ job.user.name }}</td>
      </tbody>
    </table>
    <div></div>
  </div>
</div>
