<!--
  <div class='container-fluid'>
  <div class='row'>
      <div class='col-md-12'>
        <nav-menu></nav-menu>
      </div>
      <div class='col-md-12'>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
-->

<router-outlet></router-outlet>
