<h1 mat-dialog-title>Add non-conformance issue</h1>
<div mat-dialog-content>
  <mat-form-field>
      <input matInput [(ngModel)]="data.issue" placeholder="Describe issue...">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">CANCEL</button>
  <button mat-button [mat-dialog-close]="data.issue" cdkFocusInitial>CONFIRM</button>
</div>

