<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<div class="row" *ngIf="!loading">
  <div class="col-md-12 col-xl-6">
    <h2 class="text-muted">Details for
      <small>{{ supplier.name }}</small>
    </h2>
    <form [formGroup]="supplierForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control" [readonly]="true">
          </div>
        </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Phone number</label>
              <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" [readonly]="true">
            </div>
          </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="contact">Contact</label>
            <select multiple class="form-control" formControlName="contact">
              <option *ngFor="let contact of supplier.contacts" [ngValue]="contact">{{contact.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12 col-xl-6">
      <h2 class="text-muted">{{ supplier?.name }} non-conformance log</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
          <thead>
            <tr>
              <th>Time</th>
              <th>Issue</th>
            </tr>
          </thead>
          <tbody *ngFor="let issue of supplier.issues; let i = index">
            <tr>
              <td>{{ issue.created }}</td>
              <td>{{ issue.message }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12 col-xl-6">
      <button type="Edit" class="btn btn-warning" [disabled]="!supplierForm.valid" (click)="onEdit()">Edit Supplier</button>
      <button type="button" class="btn btn-danger" [disabled]="!supplierForm.valid" (click)="onAddNonConformance()">Add Non Conformance</button>
      <button type="submit" class="btn btn-info" (click)="onAddressBook()">View Address Book</button>
    </div>
</div>
