<div class="row" [formGroup]="inputForm">
  <div class="col-md-12" formArrayName="items">
    <div class="row" *ngFor="let itemCtrl of getControls(); let i = index" [formGroupName]="i">
      <div class="col-md-4">
        <select class="form-control" formControlName="supplier">
          <option *ngFor="let supplier of supplierList" [ngValue]="supplier">{{supplier?.name}}</option>
        </select>
      </div>
      <div class="col-md-4" *ngIf="this.inputForm.controls.items.controls[i].value.supplier != null">
        <select class="form-control" formControlName="contact">
          <option *ngFor="let contact of this.inputForm.controls.items.controls[i].value.supplier.contacts" [ngValue]="contact">{{contact?.name}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <i class="fa fa-minus-circle fa-3x" style="color:rgb(255, 0, 0);" aria-hidden="true" (click)="onDeleteItem(i)"></i>
      </div>
      <br>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <i class="fa fa-plus-square fa-3x" style="color:rgb(44, 139, 44);" aria-hidden="true" (click)="onAddItem()"></i>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
