<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<div class="row" *ngIf="!loading">
  <hr>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
        <thead>
          <tr>
            <th>Friendly ID</th>
            <th>Title</th>
            <th>Contact</th>
            <th>Purchase Price</th>
            <th>Selling Price</th>
            <th>Assigned Staff Member</th>
          </tr>
        </thead>
        <tbody *ngFor="let quote of quoteList; let i = index" (click)="onSelectQuote(quote.id)">
          <tr>
            <td>{{ quote?.friendlyId }} </td>
            <td>{{ quote?.title }}</td>
            <td>{{ quote?.contact?.name }}</td>
            <td>{{ quote?.purchasePrice }}</td>
            <td>{{ quote?.sellingPrice }}</td>
            <td>{{ quote?.user?.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
