<div class="row">
  <div class="col-md-12">
    <div class="form-group" [formGroup]="inputForm">
      <select class="form-control" formControlName="selectedAddress" [ngModel]="selectedAddress" (ngModelChange)="onChange($event)">
        <option *ngFor="let address of addressList" [ngValue]="address">{{address?.formattedAddress}}</option>
      </select>
    </div>
  </div>
</div>
