<div [@routerTransition]>
  <h2 class="text-muted">Dashboard
    <small>Statistics Overview</small>
  </h2>
  <div class="row">
    <div class="col-md-12">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let slider of sliders">
          <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
          <div class="carousel-caption">
            <h3>{{slider.label}}</h3>
            <p>{{slider.text}}</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'text-white bg-dark mb-3'" [icon]="'fa-users'" [count]="clients?.length" [label]="'Clients'" [path]="'clients'"></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'text-white bg-primary  mb-3'" [icon]="'fa fa-file-text'" [count]="quoteList?.length" [label]="'Quotes'"
        [path]="'sales'"></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'text-white bg-success mb-3'" [icon]="'fa fa-shopping-cart'" [count]="jobsList?.length" [label]="'Jobs'"
        [path]="'jobs'"></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'text-white bg-secondary mb-3'" [icon]="'fa fa-money'" [count]="invoicingList?.length" [label]="'Invoicing'"
        [path]="'Invoicing'"></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'text-white bg-dark mb-3'" [icon]="'fa fa-list'" [count]="0" [label]="'Completed Jobs'"
        [path]="'Completed'"></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'text-white bg-warning mb-3'" [icon]="'fa-id-card'" [count]="staffList?.length" [label]="'Staff'" [path]="'staff'"></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'text-white bg-info mb-3'" [icon]="'fa-address-book'" [count]="contactList?.length" [label]="'Contacts'"
        [path]="'contacts'"></app-stat>
    </div>
    <div class="col-xl-4 col-lg-6">
      <app-stat [bgClass]="'text-white bg-danger  mb-3'" [icon]="'fa fa-handshake-o'" [count]="supplierList?.length" [label]="'Suppliers'"
        [path]="'suppliers'"></app-stat>
    </div>
  </div>
</div>
