<div class="text-center" *ngIf="loading">
    <img src="assets/images/loading.gif" width="80px" height="80px">
  </div>
  <div class="row" *ngIf="!loading">
    <div class="col-md-12 col-xl-12">
      <div *ngIf="editMode">
        <h2 class="text-muted">Details for
          <small>{{ preProduction.title }}</small>
        </h2>
      </div>
      <div *ngIf="!editMode">
        <h2 class="text-muted">New quote for
          <small>{{ client.name }}</small>
        </h2>
      </div>
      <form [formGroup]="preProductionForm">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="name">Title</label>
              <input type="text" id="title" formControlName="title" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="contact">Contact</label>
              <select class="form-control" formControlName="contact">
                <option *ngFor="let contact of contactList" [ngValue]="contact" [selected]="preProduction?.contact?.name">{{contact?.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" id="description" formControlName="description" class="form-control" rows="6">
              </textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="selectedAddress">Select delivery address:</label>
              <app-address-selector [inputForm]="preProductionForm" [addressList]="this.client.addresses" (addressEvent)="onAddressComplete($event)"></app-address-selector>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-pre-item-list [supplierList]="supplierList" [preItemList]="preProduction?.preItems" [inputForm]="preProductionForm" (preItemListEvent)="onAddPreItem($event)"></app-pre-item-list>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="staff">Assigned staff member</label>
              <select class="form-control" formControlName="staff">
                <option *ngFor="let staff of staffList" [ngValue]="staff" [selected]="preProduction?.user?.name">{{staff.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-success" [disabled]="!preProductionForm.valid || !preProductionForm.controls.items.valid || !activeItems" (click)="onSubmit()">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
      <br>
    </div>
  </div>
