<!-- <div class="row">
  <div class="col-md-12 col-xl-12">
    <button type="button" class="btn btn-primary" (click)="collapse=!collapse">Add comment to job</button>
  </div>
</div> -->
<br>
<div class="row">
  <div class="col-md-12 col-xl-12 ">
    <h2 class="text-muted text-sm-center">Job timeline</h2>
    <div class="card card-default">
      <div class="card-header">
        Add comment to job
      </div>
      <div class="card-body">
        <form [formGroup]="noteForm">
          <div class="form-group">
            <input id="note" formControlName="note" type="text" class="form-control" placeholder="Enter note">
          </div>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="card-block">
  <ul class="timeline">
    <li *ngFor="let note of job?.notes.reverse(); let isEven=even" [ngClass]="{'timeline-inverted' : isEven}">
      <div class="timeline-badge"><i class="fa fa-weixin"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{ note.staffName }}</h4>
          <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{ note.date }}</small>
          </p>
        </div>
        <div class="timeline-body">
          <p>{{ note.message }}
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
