<h2 class="text-muted">New member of staff</h2><div class="row">
  <div class="col-md-12 col-xl-6">
    <form [formGroup]="staffForm">
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="description">Email</label>
            <input type="text" id="email" formControlName="email" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <div class="form-group">
            <label for="email">Staff role</label>
            <select class="form-control" formControlName="staffRole">
                  <option value="0">Admin</option>
                  <option value="1">Sales</option>
                  <option value="2">Finance</option>
                </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-xl-6">
          <button type="submit" class="btn btn-success" [disabled]="!staffForm.valid" (click)="onSubmit()">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
