<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<div class="row" *ngIf="!loading">
  <hr>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm" style="cursor: pointer;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody *ngFor="let contact of contactList; let i = index" (click)="onSelectContact(contact.id)">
          <tr>
            <td>{{ contact.name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phoneNumber }}</td>
            <td>{{ ContactRole[contact.contactRole] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div></div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" (click)="onNewContact()">New contact</button>
  </div>
</div>
