<div class="row">
  <div class="col-xl-12">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <a class="navbar-brand" [routerLink]="['/dashboard']">SeanTIME</a>
      <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/sales']">Quotes</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/clients']">Clients</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/jobs']">Jobs</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/staff']">Staff</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/contacts']">Contacts</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/suppliers']">Suppliers</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/invoicing']">Invoicing</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link" [routerLink]="['/settings']">Settings</a>
          </li>
        </ul>
        <div class="col text-right">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn btn-light" id="dropdownBasic1" ngbDropdownToggle>{{ staff?.name }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button aria-expanded="false" aria-label="Toggle navigation" class="dropdown-item">My account</button>
              <button aria-expanded="false" aria-label="Toggle navigation" class="dropdown-item">Settings</button>
              <button (click)="onLogout()" aria-expanded="false" aria-label="Toggle navigation" class="dropdown-item">Logout</button>
            </div>
          </div>
        </div>
      </div>
      <app-notification></app-notification>
    </nav>
  </div>
</div>
