<div class="text-center" *ngIf="loading">
  <img src="assets/images/loading.gif" width="80px" height="80px">
</div>
<div class="row" *ngIf="!loading">
  <div class="col-md-12 col-xl-12">
    <div *ngIf="editMode">
      <h2 class="text-muted">Details for
        <small>{{ quote.title }}</small>
      </h2>
    </div>
    <div *ngIf="!editMode">
      <h2 class="text-muted">New quote for
        <small>{{ client.name }}</small>
      </h2>
    </div>
    <form [formGroup]="quoteForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Title</label>
            <input type="text" id="title" formControlName="title" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="contact">Contact</label>
            <select class="form-control" formControlName="contact">
              <option *ngFor="let contact of contactList" [ngValue]="contact" [selected]="quote?.contact?.name">{{contact?.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" formControlName="description" class="form-control" rows="6">
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="selectedAddress">Select delivery address:</label>
            <app-address-selector [inputForm]="quoteForm" [addressList]="this.client.addresses" (addressEvent)="onAddressComplete($event)"></app-address-selector>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-pre-item-list [supplierList]="supplierList" (preItemListEvent)="onAddPreItem($event)"></app-pre-item-list>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Purchase price</label>
            <input type="number" formControlName="purchasePrice" id="purchasePrice" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Markup: </label>
            <button type="button" class="btn btn-info" (click)="onMarkup(10)">10%</button>
            <button type="button" class="btn btn-info" (click)="onMarkup(20)">20%</button>
            <button type="button" class="btn btn-info" (click)="onMarkup(30)">30%</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Custom: </label>
            <input type="number" formControlName="customMarkup" id="customMarkup" class="form-control">
          </div>
          <button type="button" class="btn btn-info" (click)="onCustomMarkup()">Submit</button>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">Selling price </label>
            <input type="number" formControlName="sellingPrice" id="sellingPrice" class="form-control" [readonly]="true">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="staff">Assigned staff member</label>
            <select class="form-control" formControlName="staff">
              <option *ngFor="let staff of staffList" [ngValue]="staff" [selected]="quote?.user?.name">{{staff.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success" [disabled]="!quoteForm.valid" (click)="onSubmit()">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
    <br>
  </div>
</div>
